* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    overflow: hidden;
}

button {
    background: none;
    border: 0;
    outline: none;
}

ul, li {
    list-style: none;
}