html, body {
    width: 100%;
    height: 100%;
}
#loadAssets {
    width: 100%;
    height: 100%;
    background: url('../assets/img/index/loadBg1.png');
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.loadBg1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../assets/img/index/loadBg2.png');
    background-size: 100% 100%;
    background-origin: padding-box; /* 背景绘画开始区域 */
    background-clip: content-box; /* 背景裁剪区域 */
    box-sizing: border-box;
}
.load-tips {
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(256, 256, 256, 0.8);
    font-size: 16px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 4px 5px #888888;
}
.load-percent {
    font-weight: bold;
    font-size: 26px;
    vertical-align: sub;
}
.load-percent2 {
    font-size: 100px;
    width: 254px;
    height: 114px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -157px 0 0 -127px;
    color: #df420f;
    text-align: center;
}



