#uiIndex, #uiStatistic, #uiInfo, #uiGamming, #uiSelectLv, #uiStarTur {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
} 

#uiIndex .head-ctn {
    width: 100%;
    height: 80%;
    background-image: -webkit-linear-gradient(left, #FF7A00, #FE560A);
    background-image: linear-gradient(to right, #FF7A00, #FE560A);
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
}
#uiIndex .auto-fill {
    width: 100%;
    position: absolute;
    top: 80%;
    bottom: 0px;
    left: 0px;
    background-color: #C60A0A;
    z-index: 0;
}
#uiIndex .foot-features {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    background-image: -webkit-linear-gradient(left, #FFC500, #FF9402);
    background-image: linear-gradient(to right, #FFC500, #FF9402);
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

#uiIndex .foot-features button{
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 40px;
    width: 32%;
    text-align: center;
    outline: none;
}
#uiIndex .volume {
    color: #fff;
}
#uiIndex .statistic {
    color: #fff;;
}
#uiIndex .related-info {
    color: #fff;
}
.head-ctn .game-name {
    padding-top: 20%;
    height: 20%;
}
.head-ctn .game-name img{
    max-width: 90%;
    height: 100%;
}

.start-game {
    width: 90%;
    height: 46%;
    margin: 5% auto;
    border: 1px solid #000;
    border-radius: 12px;
    display: table;
}
.begin-test {
    vertical-align: middle;
    display: table-cell;
}
.start-game-customize {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid #000;
    border-radius: 12px;
    display: table;
}

/* 游戏页面 */
#uiGamming {
    background-color: #000;
    padding-top: 10%;
    box-sizing: border-box;
}

/* 等级选择页面 */
.levelBox {
    position: absolute;
    text-align: center;
}
.level-bg {
    position: absolute;
    background-color: antiquewhite;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 	
    -moz-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
}
.levelBox.cant-play .level-bg {
    background-color: #7f7f7f;
}
.levelCtn {
    position: relative;
}
.lv5, .lv5 .level-bg, .lv5 .levelCtn {
    width: 150px;
    height: 150px;
}
.lv5 .star-img {
    width: 50px;
}
.lv5 h3 {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
.lv5 {
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
}
.s-lv, .s-lv .level-bg, .s-lv .levelCtn {
    width: 110px;
    height: 110px;
}
.s-lv .star-img {
    width: 40px;
}
.s-lv h3 {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
}
.s-lv {
    z-index: 2;
}
.lv1 {
    top: 50%;
    left: 50%;
    margin: -155px 0 0 -155px;
}
.lv2 {
    top: 50%;
    right: 50%;
    margin: -155px -155px 0 0;
}
.lv3 {
    bottom: 50%;
    left: 50%;
    margin: 0 0 -155px -155px;
}
.lv4 {
    bottom: 50%;
    right: 50%;
    margin: 0 -155px -155px 0;
}

/* 统计页面 */
#uiStatistic {
    background-color: #7f7f7f;
}

/* 通用按钮 */
.go2index, .go2Select {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    padding: 4px 12px;
    z-index: 6;
}
.show-game-menu {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #000;
    padding: 4px 12px;
    z-index: 6;
}

/* 通关结算页面 */
.win-level {
    position: fixed;
    width: 80%;
    height: 300px;
    left: 10%;
    top: 50%;
    margin-top: -150px;
    z-index: 6;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px 0;
    box-sizing: border-box;
}
.win-level .star {
    margin-top: 40px;
}
.win-level .star img {
    width: 50px;
}
.win-btn {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.win-btn button {
    width: 30%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 6px;
}


/* .reset-level {
    position: absolute;
    width: 80%;
    height: 50px;
    bottom: 20px;
    left: 10%;
    text-align: center;
}
.reset-level button {
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 6px;
} */

.help-info {
    width: 100%;
    height: 80%;
    padding-top: 10%;
    overflow-y: auto;
}
.version-info {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 10px;
    color: #7f7f7f;
}
.tur-cta {
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 6px;
    font-size: 14px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.tur-cta:not(.first) {
    margin-top: 20px;
}
.tur-cta img {
    width: 20%;
    height: 20%;
}
.tur-cta p {
    width: 74%
}

.star-tur {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    text-align: center;
}
.star-tur button {
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 6px;
}

#uiStarTur {
    padding-top: 50px;
}
#uiStarTur table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 10px;
}
#uiStarTur table td, #uiStarTur table th {
    border: 1px solid #000;
    padding: 10px 4px;
}